
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hizmetlerimiz</h2>
        <p>Powermap Chip Tuning<br></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-activity icon"></i>
                    <h3>Birinci Hizmet</h3>
                    <p>Powermap Chip Tuning en iyi hizmetleri sunar. Aracınız için en kaliteli ve kalıcı çözümleri kaçırmayın.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <i class="bi bi-broadcast icon"></i>
                    <h3>İkinci Hizmet</h3>
                    <p>Aracınız için en kaliteli hizmeti almanız için sizleri de bekleriz. Siz ve aracınız bunu hak ediyor.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <i class="bi bi-easel icon"></i>
                    <h3>Üçüncü Hizmet</h3>
                    <p>Son hizmetimize en uygun fiyatlarla sahip olmak için geç kalmayın. Sizi en kısa zamanda üçüncü hizmetimiz için bekliyoruz.</p>
                    <a href="#" class="read-more stretched-link"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->


        </div>

    </div>

</section>